@import '../../../../style/core/_colors';
@import '../../../../style/core/_forms';
@import '../../../../style/core/_buttons';
@import '../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables';

nav {
  > * {
    display: inline-block;
  }
  padding: 30px 0;
  border-bottom: 1px solid #ccc;
}

button.mdbtn--primary {
  float: right;

  @media all and (max-width: $screen-sm) {
    float: left;
  }
}

.service-row {
  overflow: auto;
  margin-bottom: 15px;
}

.add-service {
  height: 60px;
  padding: 20px;
  background: #fafafa;

  p {
    margin: 0;
    line-height: 1.1;
    color: #5d5d5d;
  }

  span {
    width: 25px;
    height: 25px;
    font-size: 1.4em;
    text-align: center;
    margin-right: 10px;
    border-radius: 50%;
    color: $color-white;
    display: inline-block;
    background-color: $color-brand;
  }

  &:hover {
    cursor: pointer;
  }
}