<div class="container-fluid">
  <nav class="row">
    <div class="col-xs-12 col-sm-8">
      <md-breadcrumb [data]="breadcrumb"></md-breadcrumb>
    </div>

    <div class="col-xs-12 col-sm-4">
      <button
        type="submit"
        (click)="onSubmit(form.value)"
        class="mdbtn mdbtn--primary">
        Guardar
      </button>
    </div>
  </nav>

  <form [formGroup]="form">
    <div class="row">
      <div class="col-xs-12">
        <p class="h1">Presupuesto Mensual</p>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="row">
            <label class="col-xs-12 col-sm-6">Numero de Departamentos</label>
            <div class="col-xs-12 col-sm-6">
              <input
                type="number"
                placeholder="22"
                class="form-control"
                formControlName="apartments">
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="row">
            <label class="col-xs-12 col-sm-6">Presupuesto Total</label>
            <div class="col-xs-12 col-sm-6">
              <input
                type="number"
                class="form-control"
                placeholder="1,000MX"
                formControlName="budget">
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-xs-12">
          <p class="h2">Servicios</p>
        </div>
      </div>

      <div class="row hidden-xs hidden-sm hidden-md">
        <label class="col-xs-12 col-sm-4">Tipo de Servicio</label>
        <label class="col-xs-12 col-sm-2">Costo Mensual</label>
        <label class="col-xs-12 col-sm-2">Nombre de Empresa</label>
        <label class="col-xs-12 col-sm-4">Descripcion</label>
      </div>

      <div class="row" formArrayName="services">
        <div *ngFor="let service of form.controls.services.controls; let i=index" class="service-row">
          <div [formGroupName]="i" class="form-group">
            <div class="col-xs-12 col-lg-4 col-sm-6">
              <input type="text" formControlName="service" class="form-control" placeholder="Jardineria">
            </div>

            <div class="col-xs-12 col-lg-2 col-sm-6">
              <input type="number" formControlName="costPerMonth" class="form-control" placeholder="500MX">
            </div>

            <div class="col-xs-12 col-lg-2 col-sm-6">
              <input type="text" formControlName="companyName" class="form-control" placeholder="ACME">
            </div>

            <div class="col-xs-12 col-lg-4 col-sm-6">
              <textarea formControlName="description" class="form-control" placeholder="Creación de nuevos espacios verdes"></textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12" (click)="addService()">
          <div class="add-service">
            <p><span>+</span> Agregar nuevo servicio</p>
          </div>
        </div>
      </div>

    </div>
  </form>
</div>