<div class="container-fluid">
  <form [formGroup]="form">
    <div class="form-group">
      <div class="row">
        <div class="col-xs-12 col-sm-9">
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <label>Selecciona el mes</label>
              <select>
                <option value=""></option>
              </select>
            </div>
            <div class="col-xs-12 col-sm-4">
              <label>Numero de Departamentos</label>
              <input
                type="number"
                placeholder="22"
                class="form-control"
                formControlName="apartments">
            </div>
            <div class="col-xs-12 col-sm-4">
              <label>Presupuesto Total</label>
              <input
                type="number"
                class="form-control"
                placeholder="1,000MX"
                formControlName="budget">
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3">
          <button
            type="submit"
            (click)="onSubmit(form.value)"
            class="mdbtn mdbtn--primary">
            Guardar
          </button>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-xs-12">
          <p class="h2">Servicios</p>
        </div>
      </div>

      <div class="row hidden-xs hidden-sm hidden-md">
        <div class="col-xs-12 col-sm-1"></div>
        <label class="col-xs-12 col-sm-3">Tipo de Servicio</label>
        <label class="col-xs-12 col-sm-2">Costo Mensual</label>
        <label class="col-xs-12 col-sm-2">Nombre de Empresa</label>
        <label class="col-xs-12 col-sm-4">Descripcion</label>
      </div>

      <div class="row" formArrayName="services">
        <div *ngFor="let service of form.controls.services.controls; let i=index" class="service-row">
          <div [formGroupName]="i" class="form-group">
            <div class="col-xs-12 col-sm-1 remove-service text-center"><span>-</span></div>
            <div class="col-xs-12 col-lg-3 col-sm-5">
              <input type="text" formControlName="service" class="form-control" placeholder="Jardineria">
            </div>

            <div class="col-xs-12 col-lg-2 col-sm-6">
              <input type="number" formControlName="costPerMonth" class="form-control" placeholder="500MX">
            </div>

            <div class="col-xs-12 col-lg-2 col-sm-6">
              <input type="text" formControlName="companyName" class="form-control" placeholder="ACME">
            </div>

            <div class="col-xs-12 col-lg-4 col-sm-6">
              <textarea formControlName="description" class="form-control" placeholder="Creación de nuevos espacios verdes"></textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12" (click)="addService()">
          <div class="add-service">
            <p><span>+</span> Agregar nuevo servicio</p>
          </div>
        </div>
      </div>

    </div>
  </form>
</div>