@import '../../../../style/core/_colors';
@import '../../../../style/core/_typography';
@import '../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables';
@import '../../../../../node_modules/hamburgers/_sass/hamburgers/hamburgers';


.nav {
  height: 80px;
  padding: 16px 0;
  text-align: right;
  margin-bottom: 10px;
  background: $color-light;

  &__mobile {

    &:hover {
      cursor: pointer;
    }
    &:focus {
      outline: none;
    }
  }

  &__user {
    @include font-bold();

    margin-bottom: 0;
    margin-right: 10px;
    vertical-align: 15px;
    display: inline-block;
  }
  &__avatar {
    display: inline-block;
  }

  @media (min-width: $screen-md) {
    &__mobile {
      display: none;
    }
  }
}