@import '../../../../style/core/_colors';
@import '../../../../style/core/_typography';

.nav {
  height: 80px;
  padding: 16px 0;
  text-align: right;
  margin-bottom: 10px;
  background: $color-light;

  &__user {
    @include font-bold();

    margin-bottom: 0;
    margin-right: 10px;
    vertical-align: 15px;
    display: inline-block;
  }
  &__avatar {
    display: inline-block;
  }
}