<div class="container-fluid" *ngIf="isReady">
  <div class="row">
    <div class="col-xs-12">
      <md-page-header [data]="pageHeader"></md-page-header>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-8 overview">
      <div class="row">
        <div class="col-xs-12 col-sm-6 overview__presupuesto">
          <div class="row">
            <div class="col-xs-12 col-sm-4 overview__logo text-center">
              <img src="/logos/presupuesto.svg" alt="" class="img-responsive">
            </div>
            <div class="col-xs-12 col-sm-8 overview__breakdown">
              <p class="title">Presupuestos Creados</p>
              <p class="amount">{{ presupuestos.length }}</p>
              <p class="type">Presupuesto</p>
              <a [routerLink]="['/presupuestos/add']">Agregar Presupuesto</a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 overview__inquilino">
          <div class="row">
            <div class="col-xs-12 col-sm-4 overview__logo text-center">
              <img src="/logos/inquilinos.svg" alt="" class="img-responsive">
            </div>
            <div class="col-xs-12 col-sm-8 overview__breakdown">
              <p class="title">Inquilinos Creados</p>
              <p class="amount">{{ inquilinos.length }}</p>
              <p class="type">Inquilinos</p>
              <a [routerLink]="['/inquilinos/add']">Agregar Inquilinos</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row presupuestos">
        <div class="col-xs-12">
          <p class="presupuestos__title">Ultimos presupuestos agregados</p>
          <div class="presupuestos__no-content text-center" *ngIf="!presupuestos.length">
            <p>No Tienes Ningun Presupuesto Agregado</p>
            <a [routerLink]="['/presupuestos/add']">Agregar tu primer presupuesto</a>
          </div>

          <div class="presupuestos__content text-center row" *ngIf="presupuestos.length">
            <div class="col-xs-12 text-center">
              <div class="border">
                <div class="presupuestos presupuestos--filled">
                  <div class="row visible-lg-block">
                    <div class="col-xs-12">
                      <div class="presupuestos__row-header">
                        <div class="row">
                          <div class="col-xs-12 col-sm-3 truncate">
                            <span>Mes</span>
                          </div>
                          <div class="col-xs-12 col-sm-3 truncate">
                            <span>Numero De Apartamentos</span>
                          </div>
                          <div class="col-xs-12 col-sm-3 truncate">
                            <span>Presupuesto Total</span>
                          </div>
                          <div class="col-xs-12 col-sm-3 truncate">
                            <span>Acciones</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <ul class="services_list">
                    <li class="col-xs-12" *ngFor="let service of presupuestos">
                      <div class="row">
                        <div class="col-xs-10 col-xs-offset-1 col-lg-offset-0 col-lg-3">
                          <div class="row">
                            <div class="col-xs-12">
                              <span class="hidden-lg">Mes:</span>
                            </div>
                            <div class="col-xs-12 col-lg-offset-0 col-lg-12">
                              <p>{{ service.month }}</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-xs-10 col-xs-offset-1 col-lg-offset-0 col-lg-3">
                          <div class="row">
                            <div class="col-xs-12">
                              <span class="hidden-lg">Numero De Apartamentos:</span>
                            </div>
                            <div class="col-xs-12 col-lg-offset-0 col-lg-12">
                              <p>{{ service.apartments }}</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-xs-10 col-xs-offset-1 col-lg-offset-0 col-lg-3">
                          <div class="row">
                            <div class="col-xs-12">
                              <span class="hidden-lg">Presupuesto Total:</span>
                            </div>
                            <div class="col-xs-12 col-lg-offset-0 col-lg-12">
                              <p>{{ service.budget | currency:'MXN':true }}</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-xs-10 col-xs-offset-1 col-lg-offset-0 col-lg-3">
                          <div class="row">
                            <div class="col-xs-12">
                              <span class="hidden-lg">Acciones:</span>
                            </div>
                            <div class="col-xs-12 col-lg-offset-0 col-lg-12">
                              <a [routerLink]="['/presupuestos/' + service.id]">Ver mas detalles</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4 calificacion">
      <p class="calificacion__title">Ultimas calificaciones</p>

      <div class="calificacion__no-content text-center">
        <p>No tienes ninguna calificacion</p>
        <a [routerLink]="['/presupuestos/add']">Nececitas agregar servicios primero</a>
      </div>
    </div>
  </div>
</div>