<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <md-page-header [data]="pageHeader"></md-page-header>
    </div>
  </div>

  <div class="row navigation">
    <div class="col-xs-6 col-md-4">
      <div class="text-center navigation__item">
        <a [routerLink]="['/presupuestos/add']">
          Agregar<br>Presupuestos
        </a>
      </div>
    </div>
    <div class="col-xs-6 col-md-4">
      <div class="text-center navigation__item">
        <a [routerLink]="['/inquilinos/add']">
          Agregar<br>Inquilinos
        </a>
      </div>
    </div>
  </div>
</div>