.mdbtn {
  display: block;
  border: none;
  max-width: 160px;
  margin-top: 15px;
  font-size: 1em;
  padding: 8px 20px;
  text-align: center;
  border-radius: 18px;
  color: $color-white;
  margin-bottom: 40px;
  background: $color-brand;
  transition: background 200ms ease-in-out;

  &--primary {
    color: $color-white;
    background: $color-brand;

    &:hover {
      background-color: darken($color-brand, 10%);
    }
  }
}