<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <md-page-header [data]="pageHeader"></md-page-header>
    </div>
  </div>

  <div class="content">
    <div class="row">
      <div class="col-xs-12">
        <p class="content__title">Presupuestos</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-4">
        <md-dropdown [data]="[]"></md-dropdown>
      </div>
      <div class="col-xs-6 col-sm-2">
        <md-dropdown [data]="months"></md-dropdown>
      </div>
    </div>

    <div class="row" *ngIf="!services.length">
      <div class="col-xs-12 text-center">
        <div class="presupuestos presupuestos--empty">
          <p>No tienes ningun servicio agregado</p>
          <p class="heading">
            <a [routerLink]="['add']">agregar presupuesto para {{ currentMonth }}</a>
          </p>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="services.length">
      <div class="col-xs-12 text-center">
        <div class="presupuestos presupuestos--filled">
          <div class="row margin-bottom">
            <ul class="text-center months-list col-xs-12">
              <li
                class="col-xs-3 col-lg-offset-0 col-lg-1"
                [class.active]="month.label.toLowerCase() === currentMonth.toLowerCase()"
                *ngFor="let month of months">
                <span>{{ month.label }}</span>
              </li>
            </ul>
          </div>

          <div class="row margin-bottom visible-lg-block">
            <div class="col-xs-12">
              <div class="presupuestos__row-header">
                <div class="row">
                  <div class="col-xs-12 col-sm-3 truncate">
                    <span>Tipo de servicio</span>
                  </div>
                  <div class="col-xs-12 col-sm-2 truncate">
                    <span>Costo mensual</span>
                  </div>
                  <div class="col-xs-12 col-sm-2 truncate">
                    <span>Nombre de empresa</span>
                  </div>
                  <div class="col-xs-12 col-sm-3 truncate">
                    <span>Descripcion</span>
                  </div>
                  <div class="col-xs-12 col-sm-2 truncate">
                    <span>Calificacion</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <ul class="services_list">
            <li class="col-xs-12" *ngFor="let service of services">
              <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-lg-offset-0 col-lg-3">
                  <div class="row">
                    <div class="col-xs-12">
                      <span class="hidden-lg">Tipo de servicio:</span>
                    </div>
                    <div class="col-xs-12 col-lg-offset-0 col-lg-12">
                      <p>{{ service.name }}</p>
                    </div>
                  </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-lg-offset-0 col-lg-2">
                  <div class="row">
                    <div class="col-xs-12">
                      <span class="hidden-lg">Costo mensual:</span>
                    </div>
                    <div class="col-xs-12 col-lg-offset-0 col-lg-12">
                      <p>{{ service.cost | currency:'MXN':true }}</p>
                    </div>
                  </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-lg-offset-0 col-lg-2">
                  <div class="row">
                    <div class="col-xs-12">
                      <span class="hidden-lg">Nombre de empresa:</span>
                    </div>
                    <div class="col-xs-12 col-lg-offset-0 col-lg-12">
                      <p>{{ service.company }}</p>
                    </div>
                  </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-lg-offset-0 col-lg-3">
                  <div class="row">
                    <div class="col-xs-12">
                      <span class="hidden-lg">Descripcion:</span>
                    </div>
                    <div class="col-xs-12 col-lg-offset-0 col-lg-12">
                      <p>{{ service.description }}</p>
                    </div>
                  </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-lg-offset-0 col-lg-2">
                  <div class="row">
                    <div class="col-xs-12">
                      <span class="hidden-lg">Calificacion:</span>
                    </div>
                    <div class="col-xs-12 col-lg-offset-0 col-lg-12">
                      <md-stars [rating]="service.rating" *ngIf="service.isOpen"></md-stars>
                      <p class="link" (click)="service.isOpen = !service.isOpen">
                        {{ service.isOpen ? 'Cerrar' : 'Ver calificacion' }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>