@import '../../../../style/core/_colors';
@import '../../../../style/core/_typography';

.presupuestos {
  margin-top: 25px;

  &--empty {
    padding: 60px 10px;
    border: 1px solid #d7d7d7;

    p {
      margin: 0;
      text-transform: uppercase;
    }

    .heading {
      margin-top: 5px;
      font-size: 1.5em;
      color: $color-brand;
    }
  }

  &--filled {
    ul {
      padding: 0;
      list-style: none;
    }
  }

  .margin-bottom {
    margin-bottom: 20px;
  }

  .months-list {
    margin-bottom: 0;

    li {
      font-size: 0.8em;
      padding-bottom: 5px;
      text-transform: uppercase;

      span {
        border-bottom: 2px solid transparent;
      }

      &:hover {
        cursor: pointer;
      }

      &.active {
        span {
          color: $color-brand;
          border-bottom: 2px solid;
        }
      }
    }
  }

  &__row-header {
    height: 60px;
    padding: 20px;
    background-color: #f1f1f1;
  }

  .services_list {
    li {
      padding: 15px 0;
    }

    .link:hover {
      cursor: pointer;
    }

    p,
    span {
      display: inline-block;
    }

    span {
      @include font-bold();
      text-align: left;
      margin-right: 5px;
    }
  }
}