@import '../../../../style/core/_colors';
@import '../../../../style/core/_buttons';
@import '../../../../style/core/_typography';

:host {
  height: 100%;
  display: block;
}
$boder_color: #d8dde0;

.margin-top {
  margin-top: 40px;
}

.mdbtn {
  max-width: 200px;
  font-size: 0.8em;
}

.overview {
  height: 100%;

  &__presupuesto {
    &:after {
      top: 0;
      right: 0;
      width: 1px;
      content: '';
      height: 80px;
      position: absolute;
      background: $boder_color;
    }
  }

  &__inquilino,
  &__presupuesto {
    .type,
    .title,
    .amount {
      margin-bottom: 5px;
    }

    .title {
      @include font-thin();

      font-size: 0.8em;
    }

    .amount {
      font-size: 2em;
      color: $color-brand;
    }

    .type {
      @include font-bold();

      font-size: 0.8em;
      text-transform: uppercase;
    }

    a {
      display: block;
      max-width: 160px;
      margin-top: 15px;
      font-size: 0.75em;
      padding: 12px 18px;
      text-align: center;
      border-radius: 18px;
      color: $color-white;
      margin-bottom: 40px;
      background: $color-brand;
    }
  }
}

.presupuestos {
  padding: 0;
  margin-top: 40px;
  list-style: none;
  border-bottom: 1px solid #d7d7d7;

  li {
    line-height: 1;
    padding: 40px 0;
    border-bottom: 1px solid #d7d7d7;

    &:last-child {
      border-bottom: none;
    }
  }

  &__header {
    @include font-bold();

    height: 60px;
    padding: 20px;
    background-color: #f1f1f1;
  }
}