<div class="md-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="row">
          <p class="col-xs-12 md-header__title">
            Bienvenido <span>{{ data.name }}</span>
          </p>
        </div>

        <div class="row">
          <div class="md-header__rating col-xs-12">
            <p>Calificacion: {{ data.rating.toFixed(1) }}</p>
            <div class="pull-right">
              <md-stars [rating]="data.rating"></md-stars>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>