$sidebar-width: 280px;

// .midepa-topbar {
// }

.midepa-sidebar {
  top: 0;
  left: 0;
  height: 100%;
  position: fixed;
  width: $sidebar-width;
}

.midepa-content {
  margin-left: $sidebar-width;
}