<div class="sidebar">
  <div class="sidebar__logo text-center">
    <a [routerLink]="['/']" (click)="toggelMenu()">
      <img src="/logos/logo-white.svg" alt="Midepa App">
    </a>
  </div>

  <ul class="sidebar__links">
    <li (click)="toggelMenu()">
      <a [routerLink]="['/presupuestos']">
        <span class="icon"><img class="img-responsive" src="logos/presupuesto-white.svg"></span>
        Presupuestos
      </a>
    </li>
    <li (click)="toggelMenu()">
      <a [routerLink]="['/inquilinos']">
        <span class="icon"><img class="img-responsive" src="logos/inquilinos-white.svg"></span>
        Inquilinos
      </a>
    </li>
  </ul>
</div>