@import '../../../../style/core/_colors';

.sidebar {
  height: 100%;
  background: $color-brand;

  &__mobile {
    top: 0;
    left: 0;
    padding: 10px;
    position: absolute;
  }

  &__logo {
    top: 45px;
    position: relative;
  }

  &__links {
    padding: 0;
    list-style: none;
    margin-top: 120px;

    li {
      padding: 10px 20px;
      a {
        color: $color-white;
      }
    }
  }
}
